###  Introduction to python
Python is a programming language that boasts ease of use. Python as a language has gained a lot of recognition from the scientific community for the following reasons:

1. <b color='red'>Ease of Use</b> : Python as a language was created to be easy to use by even beginner programmers. It has been used in many institutions to teach introductory programming.
2. <b color='red'>Dynamic typing</b>: In python one can easily replace one variable value with another that is not the same data type. It does not enforce data types strictly and it does all the work in the background related to dynamic memory allocation for new data types.
3. <b color='red'>Batteries included</b>: The web page pypi.python.org has more than 10,000 python modules developped by developpers available for use. Modules include those for machine learning, image/signal processing, visualization, differential equations, interpolation, etc and are available for free download. Chances are, whatever you want to do, you can find a base module without resorting to reinventing the wheel.
## 1. Using Python as a Calculator
Python 3 can be used as a calculator to perform simple arithmetic operations such as addition (+), substraction (-), multiplication (\*), division (/), power (\**) and the remainder (%) and integer division (//).

In [163]:
print('7+2 = ',7+2)       #summation
print('18-37 = ',18-37)   #substraction
print('18*2 = ',18*2)     #multiplication
print('20/3 = ', 20/3)    #division
print('4**2 = ',4**2)     #powering
print('10%3 = ', 10%3)    #remainder
print('10//3 =',10//3)    #integer division

7+2 =  9
18-37 =  -19
18*2 =  36
20/3 =  6.666666666666667
4**2 =  16
10%3 =  1
10//3 = 3

In [161]:
1435//10**2

14

<b>NB: The symbol # is used for comments in python. Python will ignore anything that starts with a # sign till the end of the line.</b>

Python also supports the use of <b>parenthesis</b> to make evident the <b>order in which the calculations</b> are
performed.

In [98]:
(3*(4+6) - 12)/4 - 27//4

-1.5

## 2. Variable Names and Assignment Operation
Variable names can take many forms, although they can only contain numbers, letters (both upper and
lower), and underscores (_). 
- They must begin with a letter or an underscore and are <b color='red' >case sensitive</b> meaning that python distinguishes between upper and lower case. E.g. Age, age and aGe are three different variables
- Additionally, some words are <b color='red'>reserved in Python</b> and so cannot be used for variable names (e.g. <b color='red'>import</b> or <b color='red'>for</b> ). 
- Double leading and trailing underscores are reserved for magic variable (e.g. init ), and so should be avoided except when specifically accessing a feature.
- the single equal sign (=) is used to assign a value the a variable

In [164]:
Age = 10
print(Age)

10

In [99]:
Age =10
age = 20
aGe = 30
print('Age =', Age)
print('age =', age)
print('aGe =', aGe)

Age = 10
age = 20
aGe = 30

What will happen if I run the code bellow

In [166]:
xx = 10
print(XX)

NameError: name 'XX' is not defined

It is advisable to also use descriptive names for variables. This way, the purpose of the variable can be understood by others.

In [101]:
students = 45
std_in_cls = 30
n = 100

The reserved Python names includes: and, else, if, print, assert, except, import, raise, break exec, in, return, continue, finally, is, try, def,for, lambda, while, del, from, not, elif, global
or, class, yield, pass.

Example of bad assignment

In [102]:
#Not allowed
x: = 1
1X = 10
X-1 = 1
for = 20

SyntaxError: invalid syntax (<ipython-input-102-e981fd7acb5d>, line 2)

Multiple variables can be assigned on the same line using commas

In [168]:
X, y, z = 1, 3.1415, 'a' # multiple assignments
Age =10; age = 20; aGe = 30 # multiple assignments

Other assignment operations include:
1. Add to (+=) or substract from (-=).
2. Multiply by (*=) or divide by (/=).
3. Remainder when divided by (%=).
4. Raise to power (**=).
This assignments operations are used to update the value of a variable that has already be defined.

In [104]:
volume = 7
volume += 3 # add 3 to the value of volume and store the result in volume
#volume = volume +3
print(volume)
# the value of volume is now 10
volume *= 2 # multipy the value of volume by 2, store the result in volume
volume = volume*2
print(volume)
20 # the new value of volume is now 2
volume %=3 # compute the remainder when divided the value of volume by 3, store the result in volume
print(volume)

10
20
2

## 3. Basics types
Python has some fundamental/built-in data types that are available with the raw installation. Examples include:

- <font color='blue'>Numeric data types</font>: 
    - Floating point numbers
    - Integers
    - Complex Numbers 
    - Boolean
- <font color='blue'>containers</font>
    - Strings
    - Lists
    - Tuples
    - Dictionaries
    - Sets

# 3.1. Numeric data types

# 3.1.1. Floatint numbers 
The most important (scalar) data type for numerical analysis is the float. Unfortunately, not all non- complex
numeric data types are floats. To input a floating data type, it is necessary to include a . (period, dot) in
the expression.

In [105]:
x = 2.0
type(x)

float

In [106]:
x = float(2)
print(x)
type(x)

2.0

float

The funtion type() is used to determine the data type of a variable.

# 3.1.2. Integer
Integers store numerical values without fractional parts. Integers therefore have no decimals. An integer is defined by just assigning a number to a variable without any decimals trailing. Example:

In [107]:
students = 20
type(students)

int

In [108]:
num = 0
type(num)

int

In [109]:
num_ppl = -5
type(num_ppl)

int

In [175]:
aa = 666.5
x = int(aa)
print(x)
type(x)

55

int

# 3.1.3. Complex numbers
Complex numbers are also important for numerical analysis. Complex numbers are created in Python using $j$ where ($j^2 = -1$) or the function complex().

<b>Note: a + bj is the same as complex(a,b) , while complex(a) is the same as a + 0j.</b>

In [111]:
x = 2 + 4j
type(x)

complex

In [176]:
x = complex(2,0)
print(x)
type(x)

(2+0j)

complex

Complex numbers posses certain properties. They have a real part and an imaginary part. They also have a conjugate. Which is the number with the same real part but the sign of the imaginary part changed. Python can calculate the conjugate of the complex number as a method and also return the real and imaginary parts of the number. These are built into the complex number as defined in python. 

- These attributes can be accessed using the dot operator (.) as in c.property or c.method(). 
- Methods are invoked with brackets at the end while properties are not. Essentially, the attributes are variables contained in the objects while the methods are functions built into the object. Example usage of attributes and methods of the string class are as follows

In [113]:
cmp_num = 5+25j

In [114]:
cmp_num.real

5.0

In [115]:
cmp_num.imag

25.0

In [200]:
a = cmp_num.conjugate
a()

(5-25j)

In [117]:
cmp_num.real()

TypeError: 'float' object is not callable

# 3.1.4. Boolean
The Boolean data type is used to represent true and false, using the reserved keywords <b>True</b> and <b>False</b>. The following expressions return a boolean value,
- a == b
- a! = b
- a < b
- a > b
- a <= b
- a >= b
- a in b

In [118]:
test = (3>4)
type(test)

bool

# 3.2. containers

# 3.2.1. String
In python, strings are defined by placing them between matching quotes. We have different string syntaxes (simple, double or triple quotes):

In [119]:
s1 = 'Hello, how are you?'
print(s1)

Hello, how are you?

In [120]:
s2 = "Hi, what's up"
print(s2)

Hi, what's up

In [179]:
s3 = '''Hello,
     how are you'''         # tripling the quotes allows the
print(s3)                            # string to span more than one line

Hello,
     how are you

In [122]:
s4 = """Hi,
what's up?"""
print(s4)

Hi,
what's up?

In [123]:
s5 = 'Hi, what's up?'
#s5 = "Hi, what's up?"
print(s5)

SyntaxError: invalid syntax (<ipython-input-123-f2801e14a432>, line 1)

This syntax error can be avoided by enclosing the string in double quotes instead of single quotes. Alternatively, one can prepend a backslash to the second single quote. Other uses of the backslash are, e.g., the newline character <b>\n</b> and the tab character <b>\t</b>.

In [124]:
s6 ="Hi,\nwhat's up?"#\n is used to continue the string on the next line
print(s6)

Hi,
what's up?

In [125]:
s6 ="Hi,\twhat's up?"#\t is used to generate verticale space as tab
print(s6)

Hi,	what's up?

# 3.2.1.1 String Manipulation

# a- <b>String operations</b>

- <font color=red>' '</font> or <font color=red>" "</font> is a string (empty string)
- if s1 and s2 are strings, then s1 + s2 is a string (string concatenation).

In [184]:
k = input('Enter a number :')
kk = k+k
kkk = k + k + k
print(kkk)
type(kk)

Enter a number :7
777

str

In [180]:
a = 'Python is'
b = ' a rewarding language.'
a  + b

'Python is a rewarding language.'

In [127]:
"extra" + "ordinary" # string concatenation

'extraordinary'

In [187]:
a = "Tomatoes" # string repetition
a*2

'TomatoesTomatoes'

In [188]:
len(a) # string length

8

<b>Exercise 1</b>

1. Write an algorithm that asks the user for a positive integer $k$,  and compute and displays the value of $k+kk+kkk$. Translate into python code.

2. Write an algorithm that asks the user for a positive integer $k$ and $n$,  and compute and displays the value of $k+kk+kkk + kkkk+ ...+ kk...k$, the last term $kk...k$ has a length $n$. Translate into python code.

# b- <b>String Indexing</b>

In [190]:
a = "hello"
print(a[3])# return the element at index 0
#print(a[1]) #return the element at index 1
#print(a[2]) # return the element at index 2

IndexError: string index out of range

<b>Exercise </b>

Write an algorithm that calculates and displays the sum of the digits in an integer given by a user. Translate in python code.

# c- <b>String slicing</b>

In [193]:
a = "hello, world!"
a[3:6] # 3rd to 6th (excluded) elements: elements 3, 4, 5

TypeError: string indices must be integers

In [132]:
a[:6] # returns the first 6 charters (from index 0 to index 5)

'hello,'

In [133]:
a[4:] # returns all the charters from index 4 to the end

'o, world!'

In [134]:
a[:-3] # returns all except the last 3 characters

'hello, wor'

In [135]:
a[::3] # every three characters, from beginning to end

'hl r!'

In [136]:
a[2:10:2] # Syntax: a[start:stop:step]

'lo o'

A string is an <b>immutable object</b> and it is not possible to modify its contents.

In [137]:
a = "hello, world!"
a[2] = 'z'

TypeError: 'str' object does not support item assignment

# d- <b>String formatting</b>

Sometimes, we will like to print our data with a specific format. Python uses the format specifiers (%d, %s, %f, etc.) as a space holder for data
- %d is a space holder for integers
- %f is a space holder for float
- %s is a space holder for strings
- %0.3f is a space holder for a float rounded off to 3 decimal places
- %0.5e is a space holder for float in scientific notation, accurate to 5 decimal plac

In [196]:
T = input('enter a your name')
L = len(T)
print ("Your name %s has %d characters" %(T, L))

enter a your nameDaniel
Your name Daniel has 6 characters

In [139]:
a = 'An integer: %i; a float: %f; another string: %s' % (1, 0.1, 'string') # with more values use tuple after %
print(a)

An integer: 1; a float: 0.100000; another string: string

In [140]:
i = 102
filename = 'processing_of_dataset_%d.txt' % i   # no need for tuples with just one value after %
print(filename)

processing_of_dataset_102.txt

In [141]:
"A 10 decimal places precision of the number %s is %0.10f" %('sqrt(2)' , 2**0.5)

'A 10 decimal places precision of the number sqrt(2) is 1.4142135624'

Another way to print our data with a specific format is as follows

In [198]:
q= 'jhhjjlh'
z = 3
'jhdff {} hbbvahwi {} hddvas'.format(q,z)

'jhdff jhhjjlh hbbvahwi 3 hddvas'

# <b>More String Functions</b>

In addition to treating strings as a data type on its own with string operations, string functions and string indexing, strings are python objects. Meaning that they are associated with data (string data type or text) and functions (or methods) acting on them. Classes and Objects will be covered in details later on in the course. Below is a list os string methods commonly used.

- S.isupper() # returns True if the string contains only uppercase characters.
- S.upper() # returns a copy of the string containing only uppercase characters.
- S.islower() # returns True if the string contains only lowercase characters.
- S.lower() # returns a copy the string containing only lowercase characters.
- S.isdigit() # returns True if the string contains only digits.
- S.endswith(substring) # returns True if the string ends with the substring substring.
- S.startswith(substring) # returns True is the string starts with the substring substring.
- S.split('substring') # returns a list of strings, such that the string is split by 'substring' and each portion is an element of the returned list. If substring is not specified, the string is split on whitespace.
- S.rstrip() # removes the end of line character \n (if any) at the end
- S.count(substring) # returns the number of times substring occurs within the string.
- S.find(substring) # returns the index within the string of the first (from the left) occurrence of substring. Returns -1 if substring cannot be found.
- S.rfind(substring) # returns the index within the string of the last (from the right) occurrence of substring. Returns -1 if substring cannot be found.
- S.index(substring) # returns the index within the string of the first (from the left) occurrence of'substring'. Causes an error if substring cannot be

In [142]:
s = "The quick brown fox jumps slowly over the lazy cow \n"

In [143]:
s.islower()

False

In [144]:
s.count("ow") # number of instances of ow

3

In [145]:
s.find("brown") # index of the first occurrence on brown

10

In [146]:
s.find("not here")

-1

In [147]:
s.find("ow")

12

In [148]:
s.rfind("ow") # index of the first instance of ow, starting at the end

48

In [149]:
s.index("ow")

12

In [150]:
s.rindex("ow")

48

In [151]:
S = s.upper()
print(S)

THE QUICK BROWN FOX JUMPS SLOWLY OVER THE LAZY COW

In [152]:
s.rstrip()

'The quick brown fox jumps slowly over the lazy cow'

In [2]:
b = "Great, I am a student"
b.split() #split wherever there is a white space

['Great,', 'I', 'am', 'a', 'student']

In [3]:
b.split(',') #split wherever there is a comma

['Great', ' I am a student']

In [4]:
b.split('am') #split wherever there is a am

['Great, I ', ' a student']



## 3.2.2 Lists

Lists store a group of variables so they can be accessed individually or collectively. The list is a most versatile datatype available in Python which can be written as a <b>list of comma-separated
values (items) between square brackets.</b> The variables do not need to be of the same type and/or with repetition.

# a- Creating a list

- <b> Empty list </b>


List can be created empty or be populated during creation.

Creating an empty list is as simple as for example:

(1) [] or list() is a list (the empty list)

(2) If L1 and L2 are lists, then L1 + L2 is a list (concatenation)

Creating by putting different comma-separated values between square brackets. For example:

In [2]:
emp_list =[]
emp_list

[]

In [96]:
emp_list

[]

In [3]:
emp_lis2 = list()
emp_lis2

[]

In [99]:
emp_lis2

[]

- <b>Creating by putting different comma-separated values between square brackets</b>

In [86]:
List = [1, 3, 4.5]
List2 = [7, 'kkk', 'comote', 0.9, [1,2,'toto']]
L = List + List2  # this line does a list concatanation

In [7]:

mylist = [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7]
mylist2 = [0.0,'a',2+4j,2000,'learn python',[1,2,3,4,5,6,7]]

Python also makes it possible to create a numeric sequence as a list using the range function. In
this case, we can create the sequence a+di, i = 0, ..., n. This is equivalent to a, a+d, a+ 2d, . . . , a+
nd. This can be done using the range function as list(range(a,b,d)) or [*range(a,b,d)] where b = a + nd + 1.

In [8]:
#Example
seq1 = list(range(0,11))  # since we omitted the stepsize, its default value is one.
seq1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
seq1 = [*range(0,11)]
seq1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
seq2 = list(range(0,11,2))
seq2

[0, 2, 4, 6, 8, 10]

In [11]:
seq2[1]

2

In [12]:
seq3 = list(range(0,-24,-3))
seq3

[0, -3, -6, -9, -12, -15, -18, -21]

Note that the range function expects all arguments (inputs to the funtion) to be integers. You
get an error when that restriction is not respected. 

Example

In [13]:
seq4 = list(range(0,-24,-3))
seq4

[0, -3, -6, -9, -12, -15, -18, -21]

In [14]:
seq5 = list(range(0,20))
seq5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
seq5 = list(range(20,0,-1))
seq5

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# b- Accessing and Updating Items (values) in Lists

- <b>Accessing</b>: The elements of lists and other iterables (sequences) can be accessed using their indexes. Sequence indexing in python begins from 0. So the first element is index 0, the second is 1, the third is 2 and so on. To access the first element in seq3, we type

In [89]:
seq3 = list(range(0,-24,-3))
print(seq3)
seq3[5] # access the 4th element of the list seq3

[0, -3, -6, -9, -12, -15, -18, -21]

-15

In [23]:
mylist2

[0.0, 'a', (2+4j), 2000, 'learn python', [1, 2, 3, 4, 5, 6, 7]]

mylist2 has different kinds of elements including two strings and a list. To access the elements
sequences contained in other sequences like in this case, we use two indices; the first one points to
the location of the inner list and the second the location of the element in the inner list. 

Example

In [94]:
mylist2[1][3]# since the 2nd element of the list is string then indexing can be applied

'o'

In [24]:
mylist2[0][0]# since the 1st element of the list is a float then indexing can't be applied

TypeError: 'float' object is not subscriptable

In [119]:
mylist2[5][3]# since the 2nd element of the list is list then indexing can be applied

4

Python uses the negative index to return elements from the back of the list. In this sense, -1 is
for the last element, -2 for the element before the last and so on.

In [22]:
print(mylist2)
mylist2[-2]

[0.0, 'toto', (2+4j), 2000, 'learn python', [1, 2, 3, 4, 5, 6, 7]]

'learn python'

- <b>Updating</b>

In [95]:
mylist2 = [0.0, 'a', (2+4j), 2000, 'learn python', [1, 2, 3, 4, 5, 6, 7]]
mylist2[1] = 2222
print(mylist2)

[0.0, 2222, (2+4j), 2000, 'learn python', [1, 2, 3, 4, 5, 6, 7]]

# c- List Slicing
Apart from accessing individual elements, it is also possible to access a group of elements in a
sequence using a sequence. This is called slicing. The slicing operator in python is the colon (:).

Let L be a list, we can
- L[i:j]       yields elements from index i to index j-1.
- L[i: ]       yields elements from index i to the ends.
- L[ :j]       yields elements from the beginning to index j-1.
- L[i:j:k]     yields elements from index i to index j-1, taking only the k-th elements.
- L[ : ]       yields a copy of the list L.
- L[ ::k]      yields all the k-th elements of L starting at index 0.

In [102]:
print(seq1)
seq1[::-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [124]:
seq1[0:4:2]

[0, 2]

In [125]:
seq1[::]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
seq1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# d- List Comprehension
List comprehension provides an elegant and compact way of creating lists. Many authors say it is used to create lists like mathematicians do in the area of sets. For example to create the list [ $x^3$  | $x$ is in the list [0 .. 9]] we can use the list comprehension

In [108]:
a = [x**3 for x in range(10)]
a

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

For [ $2^x$  | $x$ is in the list [0 .. 10]], we use

In [ ]:
#Ask students

For the list [$(x,y)$|$ x $   [0 .. 5] and $y$    [5 .. 0] ], we have

In [110]:
a = [[x,y] for x in range(6) for y in range(5,-1,-1)]
print(a)

[[0, 5], [0, 4], [0, 3], [0, 2], [0, 1], [0, 0], [1, 5], [1, 4], [1, 3], [1, 2], [1, 1], [1, 0], [2, 5], [2, 4], [2, 3], [2, 2], [2, 1], [2, 0], [3, 5], [3, 4], [3, 3], [3, 2], [3, 1], [3, 0], [4, 5], [4, 4], [4, 3], [4, 2], [4, 1], [4, 0], [5, 5], [5, 4], [5, 3], [5, 2], [5, 1], [5, 0]]

how can I create a list of the 1st, 3rd,7th,9th, 11th elements a?

In [111]:
[a[i] for i in [0,2,6,8,10]]

[[0, 5], [0, 3], [1, 5], [1, 3], [1, 1]]

List comprehensions can include conditional statements. Let us modify a above so the list comprehension only has the elements with x and y even

In [35]:
b = [[x,y] for x in range(6) for y in range(5,-1,-1) if x%2==0 and y%2==0]
print(b)

[(0, 4), (0, 2), (0, 0), (2, 4), (2, 2), (2, 0), (4, 4), (4, 2), (4, 0)]

# e- Summary: Built-in Basic List Functions and Methods:

Let L, list1, list2 be three defined lists

- Function related to List itself
    - cmp(list1, list2): Compares elements of both lists.
    - len(list): Gives the total length of the list.
    - max(list): Returns item from the list with max value.
    - min(list): Returns item from the list with min value.
    - list(seq or set): Converts a tuple or set into list.
- Function related to item of List
    - L.append(item): Appends object item to list
    - L.count(item): count Returns count of how many times item occurs in list
    - L.extend(seq): Appends the contents of seq to list.
    - L.index(item): Returns the lowest index in list that item appears.
    - L.insert(index, Item): Inserts item into list at offset index
    - L.pop(item=list[-1]): Removes and returns last item from list
    - L.remove(item): Removes object item from list
    - L.reverse(): Reverses objects of list in place
    - L.sort([func]): Sorts items of list, use compare func if given

In [30]:
mylist = [0.9,0.1,0.2,0.3,0.4,0.5,0.6,0.7]
mylist.sort()
mylist

[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.9]

In [27]:
mylist = [0.9,0.1,0.2,0.3,0.4,0.5,0.6,0.7]
mylist.append(11)
mylist

[0.5, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 11]

In [31]:
mylist = [0.9,0.1,0.2,0.3,0.4,0.5,0.6,0.7]
print(mylist.pop())
print(mylist)

0.7
[0.9, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6]

To add multiple elements to the end of the list, the extend method is used. Extend allows to
add multiple elements to the list.

In [34]:
mylist.extend([ 'Eish', 13, 'daddy', 'comote'])
mylist

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 11, 'Eish', 13, 'daddy', 'comote']

In [86]:
mylist

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 11, 'Eish', 13, 'daddy', 'comote']

In [144]:
mylist.append([ 'Eish', 13, 'daddy', 'comote']) # we add a list to a list
mylist

## 3.2.3. Tuples
A Python tuple is another iterable. A tuple is created using the bracket but accessed in the same
manner as lists are.

In [113]:
a = (1,2,3,4,5,6,7)

In [116]:
a[3]

4

## 3.2.4. Set
A set is an unordered collection of items. Unlike sequence items such as lists and tuples, in which each
element is indexed, set elements are not indexed and <b>are not duplicated</b>.

# a- Constructing a set

- You can create an empty set using the function set()
- You can also create a set from a list using set(L) where L is the list
- You can also create a set from a string using set(S) where S is the string

In [44]:
X = set() #Creating empty set
print('X = ',X)



#Create set from a list
Y = ["emile",1,2,"w","v",2,"emile"]
Z = set(Y) # passing a list
print('Z = ', Z)
S = 'bananas'
W = set(S)
print('W = ', W)

X =  set()
Z =  {1, 2, 'v', 'emile', 'w'}
W =  {'a', 'b', 'n', 's'}

# b- Accessing
<b> Note that you can't access the set element using indeces since the element of the set are not orderred. </b>

In [117]:
list(W)[2]

'n'

But you can access the element of the set by converting them into list first.

In [54]:
S = 'bananas'
W = set(S)
print('W = ', W)
aa = list(W)[2]
print('aa = ', aa)

W =  {'a', 'b', 'n', 's'}
aa =  n

# c- Sets methods

add(), update(), copy(), discard(), clear()

In [47]:
x = set([1, 4, 6,'blue'])
x.add(5) # adding a new element
x

{1, 4, 5, 6, 'blue'}

In [49]:
x.update([4, 1, 7]) # adding a list of new elements, avoiding repetition
x

{1, 4, 5, 6, 7, 'blue'}

In [52]:
"""
x.remove(element) acts exatly like x.discard(element) except that it will
yield an error if element is not in x
"""
x.discard(4) # remove an element from x
x

{1, 5, 6, 7, 'blue'}

# d- Sets operations

- Union
- intersection
- difference
- symetric difference

In [60]:
X = set([1,2,3,4])
Y = set([0,2,4,5])
X.union(Y) # sets union
#  X|Y # same as X.union(Y)

{0, 1, 2, 3, 4, 5}

In [61]:
X.intersection(Y) # sets intersection
#X & Y # same as X.intersection(Y)

{2, 4}

In [62]:
X - Y # sets difference

{1, 3}

In [64]:
X^Y # set symmetric difference

{0, 1, 3, 5}

## 3.2.5. Dictionaries
A dictionary is a set of key:value elements. An element key:value is accessible by its key rather than by an
index. As opposed to lists, strings and tuples, the ordering of the elements of a dictionary does not matter.
Keys can be of any non-mutable type, and values can be of any type including other dictionaries, lists, or
tuples.
# a- Creating  dictionary

In [66]:
X= {}
type(X)

dict

In [67]:
Y = dict()
type(Y)

dict

In [35]:
count_cap = {'Benin': 'Porto-Novo','Togo': 'Lome', 'Cameroon': 'Yahounde', 'Nigeria': 'Abuja', 'Rwanda': 'Kigali', 'Kenya': 'Nairobia'}

In [92]:
count_cap

{'Benin': 'Porto-Novo',
 'Cameroon': 'Yahounde',
 'Kenya': 'Nairobia',
 'Nigeria': 'Abuja',
 'Rwanda': 'Kigali',
 'Togo': 'Lome'}

In [37]:
count_pop = {'Benin': 10000000,'Togo': 9000000, 'Cameroon': 30000000, 'Nigeria': 150000000, 'Rwanda': 12000000, 'Kenya': 47000000}

In [38]:
count_pop

{'Benin': 1000000,
 'Togo': 9000000,
 'Cameroon': 30000000,
 'Nigeria': 150000000,
 'Rwanda': 12000000,
 'Kenya': 47000000}

# b- Adding and Updating items in a dictionary

In [71]:
Record = {'Name': 'Jean Irenee', 'Age': 7, 'Class': 'First'};
Record['Age'] = 20; # update existing entry
Record

{'Name': 'Jean Irenee', 'Age': 26, 'Class': 'First'}

In [72]:
Record['School'] = "AIMS"; # Add new entry
Record

{'Name': 'Jean Irenee', 'Age': 26, 'Class': 'First', 'School': 'AIMS'}

# c- Deleting items in a dictionary

In [73]:
del Record['Name']; # remove entry with key Name
Record

{'Age': 26, 'Class': 'First', 'School': 'AIMS'}

In [75]:
Record.clear(); # remove all entries in dict
Record

{}

# d- Built-in Dictionary Functions and Methods:

Let dict, dict1 and dict2 be three defined  dictionaries

-  Function related to Dictionary itself
    - cmp(dict1, dict2): Compares elements of both dict.
    - len(dict): Gives the total length of the dictionary.
    - str(dict): Produces a printable string representation of a dictionary.
- Function related to item of Dictionary
    - dict.clear(): Removes all elements of dictionary dictionary
    - dict.copy(): Returns a shallow copy of dictionary dictionary
    - dict.fromkeys(): Create a new dictionary with keys from seq and values set to value.
    - dict.get(key, default=None): For key key, returns value or default if key not in dictionary.
    - dict.has key(key): Returns true if key in dictionary dict, false otherwise
    - dict.items(): Returns a list of dicts (key, value) tuple pairs
    - dict.keys(): Returns list of dictionary dicts keys
    - del dict[key]: delete entry with key key
    - dict.update(dict2): Adds dictionary dict2s key-values pairs to dict
    - dict.values(): Returns list of dictionary dicts values

# e- Traversing a dictionary with a for loop

In [119]:
D = { 1: "one", "two": 2, (1, 3): "A key can be a tuple"}
for keyey in D:
    print(keyey, ": ", D[keyey]) # indentation

1 :  one
two :  2
(1, 3) :  A key can be a tuple

<b>Turning Keys Into Values and Vice Versa</b>
Suppose you have a dictionary and for some reason need to turn keys into values and vice versa. In this situation, you can use a for loop to iterate through the dictionary and build the new dictionary by using the keys as values and vice versa:

In [ ]:
a_dict = {'one': 1, 'two': 2, 'thee': 3, 'four': 4}
new_dict = {}



for key, value in a_dict.items():
    new_dict[value] = key
new_dict

<b> Exercise </b>

Write a Python program to count the number of characters (character frequency) in a word enter by a user.

For example,if the user enter the word <font color = red> google  </font> 

the output should be <font color = red> {'g': 2, 'o': 2, 'l': 1, 'e': 1} </font>

In [126]:
s =  input("Enter a string: ")

d =  set(s)#convert the string s into a set of induvidual characters

result = {}# create empty dictionary

for key in d:# loop over the characters in the set d
    value =  s.count(key)#number of time key appears in s
    result[key] = value# add key:value to dictionary result
print(result)

Enter a string: google
{'o': 2, 'e': 1, 'g': 2, 'l': 1}

In [78]:
str1 = input('Enter your word')
Num_Char = {}
for n in str1:
    keys = Num_Char.keys()
    if n in keys:
        Num_Char[n] += 1
    else:
        Num_Char[n] = 1
Num_Char

Enter your wordgoogle

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

## 4- Defining Functions in python
# 4.1. lambda functions 

Python provides the keyword lambda which is used to create anonymous functions. These are functions assigned to variables and they are generally short functions. In the case of lambda, usually, one liners. The syntax of the lambda statement is:

$$ \text{varname = lambda variables: function_statement} $$

Examples are:

In [82]:
f = lambda x: x**2 + 2*x + 1
g = lambda x,y : x**y
sign = lambda x: 1 if x > 0 else -1 if x < 0 else 0
x = 1
y = 2
f_x = f(x)
g_xy = g(x,y)
sign_x = sign(x)

# print('f({}) = {}'.format(x,f_x))
# print('g({},{}) = {}'.format(x,y,g_xy))

f(1) = 4
g(1,2) = 1

In [127]:
h = lambda x,y,u : x**3 + u**3+ y*3 + x*y*u
h(10,20,100)

1021060

The expression used inside the sign function is an example or a conditional expression or a ternary operator. This evaluates x and returns 1 if x > 0 if not it goes into the else expression where we have another ternary operator that test whether X < 0. 

# 4.2. Complex functions 
More complex functions are defined using python's <font color = red> def  </font> statement. <font color = red> def  </font> has the following syntax:
$$ \text{def funcname(var_list):} $$
$$ \text{statement_1} $$
$$ \text{statement_2} $$
$$ \cdots \text{       } $$
$$ \quad\text{return statement} $$

<font color = red> def  </font>  is a block statement. This means the rules of working with python blocks apply. The def statement is part of the block heading which ends in a colon. The body of the block is indented. The return statement transfers control back to the calling function. The return statement can be just the return statement or return followed by an object that is returned as the result of the function evaluation. Example:

In [68]:
def f(x):
    y = x**2 + 2*x +1
    return y

def g(x):
    return x**2 + 2*x +1

def h(x,y):
    return x**y

def sign(x):
    if x > 0:
        return 1
    elif x < 0:
        return -1
    else:
        return 0

In [69]:
def f(t):
    return t**2
f(3)

9

In [71]:
def disk_area(radius, hight):
     return 3.14 * radius * radius*hight
    
disk_area(3,5)
#disk_area(4)

141.29999999999998

In [4]:
aa = disk_area(4)

<b> Exercise</b> (Bissection method)

Given the following function $ f(x) = x^3 -3x - 5;$ let $x_0 \in [a,b]=[-10,10]$ be the solution of the equation $f(x) = 0$. 

- Write a function named Bissection1 that return an approximation $\bar{x}$ of $x_0$ such that $$ \mid \bar{x} - x_0 \mid \leq \epsilon, $$
for a given parameter, $\epsilon>0$.

- Write the function named Bissection2 that complete the same task but has as parameters $f,a,b,\epsilon$.

In [74]:
# def f(x):
#     return x**3 - 3*x -5

def Bissection1(epsilon):
    a = -10
    b = 10
    f = lambda x: x**3 - 3*x -5
    
    if f(a)*f(b) >= 0:
        print('Bissection Method Fails')
    else:
        while abs(b-a) > epsilon:
            c = (a+b)/2 #the midpoint
            
            if f(c) == 0:
                return c
#                 print('The exact solution is: ',c)
            elif f(a)*f(c) < 0:
                b = c
            else:
                a = c
        return c
#         print('The approximate solution of x0 is :',c)

In [75]:
Bissection1(10**(-5))

2.279024124145508

In [77]:
# def f(x):
#     return x**3 - 3*x -5

def Bissection2(epsilon, a, b, f):
    if f(a)*f(b) >= 0:
        print('Bissection Method Fails')
    else:
        while abs(b-a) > epsilon:
            c = (a+b)/2 #the midpoint
            
            if f(c) == 0:
                return c
#                 print('The exact solution is: ',c)
            elif f(a)*f(c) < 0:
                b = c
            else:
                a = c
        return c
#         print('The approximate solution of x0 is :',c)

In [80]:
f = lambda x: x**3 - 3*x -5
a = -5
b = 7
epsilon = 0.001
x_bar = Bissection2(epsilon, a, b, f)
print(x_bar)

2.279541015625

# <b>write a function, called num_char, that takes a name as input and return the number of characters of the inouted name.</b>

In [ ]:
# def Bissection1(epsilon):
#     f = lambda x : x**3 -3*x -5
#     a=-10
#     b=10
#     if f(a)*f(b)>=0:
#         print("Dichotomy Method fails")
#     else:
#         while abs(b-a) > epsilon:
#             c=(b+a)/2
#             if f(c)==0:
#                 return c
#             elif f(a)*f(c)<0:
#                 b=c
#             else:
#                 a=c
#     return c

# 4.3. Returning Multiple Values functions
<font color = red> def  </font> has the following syntax to return multiple values:
$$ \text{def funcname(var_list):} $$
$$ \text{statement_1} $$
$$ \text{statement_2} $$
$$ \cdots \text{       } $$
$$ \qquad\qquad\qquad\qquad\qquad\text{return output_1, output_2, }\cdots,\text{output_n} $$

In [1]:
# A Python program to return multiple  
# values from a method using tuple 
  
# This function returns a tuple 
def fun(n): 
    string = "geeksforgeeks"
    x   = 20 +n
    return string, x;  # Return tuple, we could also 
                    # write (str, x) 
  
# Driver code to test above method 
s, x_0 = fun(5) # Assign returned tuple 
#print(s) 
#print(x_0) 
print(s, x_0)

geeksforgeeks 25

<b> Exercise</b> (Bissection method)

Considering the bissection exercise above, write a function named Bissection3 that takes the same input as Bissection2 and return the approximation value $\bar{x}$ and its image $f(\bar{x})$.

In [9]:
def Bissection3(epsilon, a, b, f):
    if f(a)*f(b) >= 0:
        print('Bissection Method Fails')
    else:
        while abs(b-a) > epsilon:
            c = (a+b)/2 #the midpoint
            
            if f(c) == 0:
                return c, f(c)
#                 print('The exact solution is: ',c)
            elif f(a)*f(c) < 0:
                b = c
            else:
                a = c
        return c, f(c)
    
f = lambda x: x**3 - 3*x -5
a = -5
b = 7
epsilon = 0.001
x_bar, f_xbar = Bissection3(epsilon, a, b, f)
print(x_bar, ',', f_xbar)

2.279541015625 , 0.006572440863237716

 write a function, called sum_prod, that takes $n$ and $M$ as input and return return A and B given by $$A = \sum_{i=m}^{n} i, \quad B = \prod_{i=m}^{n} i $$

In [12]:
def sum_prod(m,n):
    a=0
    b=1
    for i in range(m,n+1):
        a+=i
        b*=i
    return a,b

x,y=sum_prod(1,2)
print('sum is ',x,' and product is ',y )

sum is  3  and product is  2

# 4.3. functions with default values

Keyword arguments allow you to specify default values. Default values are evaluated when the function is defined, not when it is called. For example,

In [17]:
def P(t,x = 2):
    y = x**2 + 1 + t
    return y

aa = P(2,5)
print(aa)

28

In [15]:
P(2)

4

<b>This can be problematic when using mutable types (e.g. dictionary or list) and modifying them in the function body, since the modifications will be persistent across invocations of the function.</b>

In [29]:
def add_to_dict(args={'a': 1, 'b': 2}):
    for i in args.keys():
        args[i] += 1
    print(args)
    
#add_to_dict()

In [37]:
add_to_dict()

{'a': 2, 'b': 3}

<b>Shallow copy vs Deep copy of mutable variable</b>

In [24]:
#shallow copy
L1 = [1,4,7,9]
print(L1[2])
L2 = L1
L2[2] = 5
print(L2)
print(L1[2])

7
[1, 4, 5, 9]
5

In [25]:
#deep copy
L1 = [1,4,7,9]
L2 = L1.copy()
L2[2] = 5
#print(L2)
print(L1[2])

7

In [38]:
def add_to_dict1(args={'a': 1, 'b': 2}):
    dic = args.copy()
    for i in dic.keys():
        dic[i] += 1
    print(dic)
    
add_to_dict1()

{'a': 2, 'b': 3}

In [39]:
add_to_dict1()

{'a': 2, 'b': 3}

## 4.4. Passing by value

If the value passed in a function is immutable, the function does not modify the callers variable. If the value is mutable, the function may modify the callers variable in-place:

In [47]:
def try_to_modify(x, y, z):
    x = 23
    y.append(42)
    z = [99] # new reference
    print(x)
    print(y)
    print(z)

In [48]:
a = 77
b=[99]
c=28

# prop 1: 77,[99,42], [99]

# prop 2: 23,[99,42], [99]

In [49]:
a = 77    # immutable variable
b = [99]  # mutable variable
c = [28]
try_to_modify(a, b, c)

23
[99, 42]
[99]

In [52]:
b

[99, 42]

In [53]:
c

[28]

In [51]:
print('a = ', a)

print('b = ',b)

print('c = ',c)

a =  77
b =  [99, 42]
c =  [28]

Functions have a local variable table called a local namespace.

The variable x only exists within the function try_to_modify.

# 4.5 Global variables

Variables declared outside the function can be referenced within the function:

In [68]:
z = 6
def f1(x):
    global z
    #y = x**2 + z
    z = x
    return z

In [69]:
f1(2)

2

In [70]:
z

2

<b>But these global variables cannot be modified within the function, unless declared global in the function.</b>

In [63]:
x = 10
def setx(y):
     x = y
     print('x is %d' % x)
    
setx(5)

x is 5

In [43]:
print(x)

10

In [47]:
x=10
def setx1(y):
    global x
    x = y
    print('x is %d' % x)
    
setx1(5)

x is 5

In [48]:
print(x)

5


# Exercise 1
Write a shutting down program:

First, define a function, shut_down, that takes one argument s. Then, if the shut_down function receives an s equal to "yes", it should return "Shutting down" Alternatively, elif s is equal to "no", then the function should return "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should return "Sorry".

In [3]:
def shut_down(s):
    if s=='yes':
        return 'shutting down'
    elif s== 'no':
        return 'shutdown aborted'
    else:
        return 'sorry'

In [4]:
shut_down('yes')

'shutting down'

In [6]:
shut_down('hove')

'sorry'

# Exercise 2
First, define a function called distance_from_zero, with one argument (choose any argument name you like). If the type of the argument is either int or float, the function should return the absolute value of the function input. Otherwise, the function should return "Nope". Check if it works calling the function with -5.6 and "what?".

In [ ]:
def distance_from_zero(x):
    if type(x)==int or type(x)==float:
        return abs(x)
    else:
        return 'Nope'

# Exercise 3
Follow the stpes:

First, define a function called cube that takes an argument called number.
Make that function return the cube of that number (i.e. that number multiplied by itself and multiplied by itself once again).
Define a second function called by_three that takes an argument called number. if that number is divisible by 3, by_threeshould call cube(number) and return its result. Otherwise, by_three should return False. -Check if it works.

In [13]:
def cube(num):
    return num**3

def by_three(number):
    if number%3==0:
        return cube(number)
    else:
        return False

by_three(3)

27

# Exercise 4
Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Check for 'The quick Brow Fox and 'I am proud of Mr McDonald'.

In [15]:
def characterCase(S):
    result =  {"up":0,"lc":0}
    for c in S:
        if c.isupper() == True:
            result["up"] += 1
        elif c.islower():
            result["lc"] += 1
    return result
characterCase("The quick Brow Fox and 'I am proud of Mr McDonald")

{'up': 7, 'lc': 31}

# Exercise 5
Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [16]:
def factorial(n):
    
    if n ==0 or n ==1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(3)

6

# Exercise 6

Write a Python function called <b> InRange </b>to check whether a number is in a given range. For example for $[0,100]$, the output of 20 should appear: 20 is in the range. in addition, if the number is outside the range, print the following message: The number is outside the given range.

In [15]:
def InRange(n,r):
    if n>=r[0] and n<=r[1]:
        return '{} is in the range'.format(n)
    return 'The number is outside the given range.'

InRange(9,[0,100])

'9 is in the range'

# Exercise 7
Write a Python function called <b>IsPrime</b> that takes a positive integer as a parameter and check the number is prime or not.

Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [28]:
def IsPrime(n):
    
    if n==1:
        return "%d is a not prime" %n
    else:
        
    
        for i in range(2,n):

            if n%i ==0:
                return "%d is a not prime" %n

        return "%d is a prime" %n
        
IsPrime(2)

'2 is a prime'

# Exercise 8
Write a Python function called <b>EvenNum</b> that  returns the list of even numbers from a given list.

In [36]:
# def EvenNum(list1):
#     list2=[]
#     for i in list1:
#         if i%2==0:
#             list2.append(i)
#     return list2


def EvenNum(list1):
    
    return [i for i in list1 if i%2==0]

EvenNum([0,2,8,2,10,11,13])

[0, 2, 8, 2, 10]

# Exercise 9

Write a function, named Sum_nm, that takes n,m as input and return S given by $$S = \sum_{i=m}^{n} i^2 $$

In [92]:
def sum_nm(m,n):
    som=0
    for i in range(m,n+1):
        som=som+i**2
        print(i)
    return som

# Exercise 10

Write a function called <b>rectangle</b> that takes two integers $m$ and $n$ as arguments and prints
out an $m\times n$ box consisting of asterisks. Shown below is the output of rectangle(3,4)

\begin{matrix}
*& * & * & * \\
*&   &   & *\\
*& * & * & *
\end{matrix}

In [37]:
def rectangle(m,n):
    print("*" * m)
    for i in range(m-2):
        print("*" + " " * (m-2) + "*")
    print("*" * m)

In [50]:
rectangle(4,5)

****
*  *
*  *
****

# Exercise 11

Write a function called <b>sum_digits</b> that is given a positive integer $num$ and returns the sum of the
digits of $num$.

In [42]:
def sum_digits(num):
    strg = str(num)
    s_um = 0
    for i in strg:
        s_um += int(i)
    return s_um

In [43]:
sum_digits(1234)

10

# Exercise 12

The digital root of a positive number n is obtained as follows: Add up the digits n to get a new number.
Add up the digits of that to get another new number. Keep doing this until you get a number
that has only one digit. That number is the digital root.

For example, if $n = 45893$, we add up the digits to get $$4 + 5 + 8 + 9 + 3 = 29.$$ We then add up
the digits of $29$ to get $$2 + 9 = 11.$$ We then add up the digits of $11$ to get $$1 + 1 = 2.$$ Since 2 has
only one digit, 2 is our digital root.

Write a function called <b>digital_root</b> that returns the digital root of an integer n.

In [44]:
def sum_digits(num):
    strg = str(num)
    s_um = 0
    for i in strg:
        s_um += int(i)
    return s_um

def digital_root(num):
    while len(str(num))!=1:
        num=sum_digits(num)
    return num

digital_root(45893)

2

# Exercise 13

Write a function called <b>first_diff</b> that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.

In [49]:
def first_diff(s,j):
    if len(s)<=len(j):
        n= len(s)
    else: 
        n=len(j)
    for i in range(n):
        if s[i]!=j[i]:
            return i
    if len(s)==len(j):
        return -1
    else:
        return n
first_diff('Angela','Angele')

5

# Exercise 14

Write a function called <b>binom</b> that takes two positive integers $n$ and $k$ and returns the binomial coefficient  $$C_k^n= \dfrac{n!}{k!(n-k)!}$$
if $n\geq k$, otherwise the function should print 'Wrong input! $n$ should be greater or equal to $k$.'

# Exercise 15

Write a function called <b>number_of_factors</b> that takes a positive integer and returns how many factors the number has; and a list of its factors.

# Exercise 16.1.

Write a function called <b>closest</b> that takes a list of numbers $L$ and a number $n$ and returns
the largest element in $L$ that is not larger than $n$. For instance, if $L=[1,6,3,9,11]$ and $n=8$,
then the function should return $6$, because $6$ is the closest number in $L$ to $8$ that is not larger than
$8$. If L is empty or all of the numbers in L are larger than n then return <b> No value of L is smaller than n</b>.

# Exercise 16.2.

Write a function called <b> sort_ind</b> that takes a non empty and sorted list of numbers $L$ and a number $n$ and return and index $ind$ such that $L.insert(ind,n)$ gives a sorted list. Example: for $L=[2,4,7]$ and $n=5$, <b> sort_ind</b> must return 2 because $L.insert(2,5)$ return $[2,4,5,7]$

Do not use the method <b>.sort()</b> or the function <b>sorted()</b>.

In [57]:
L=[2,4,7]
L.insert(2,5)
print(L)

[2, 4, 5, 7]

# Exercise 16.3.

Using the above function <b> sort_ind</b>, write a function called <b>SortList</b> that returns a sorted list of a given list $L$.

Do not use the method <b>.sort()</b> or the function <b>sorted()</b>.

# Exercise 17

Write a function called <b>matches</b> that takes two strings as arguments and returns how many
matches there are between the strings. A match is where the two strings have the same character
at the same index. For instance, <b>'python'</b> and <b>'path'</b> match in the first, third, and
fourth characters, so the function should return <b>3</b>.

In [56]:
l = [2,3,4]
l.insert(0,1)
print(l)

[1, 2, 3, 4]

# Exercise 18

Recall that if <b>s</b> is a string, then <b>s.find('a')</b> will find the location of the first a in <b>s</b>. The
problem is that it does not find the location of every a. Write a function called <b>findall</b> that
given a string and a single character, returns a list containing all of the locations of that character
in the string. It should return an empty list if there are no occurrences of the character
in the string.

# Exercise 19

Write a function called <b>change_case</b> that given a string, returns a string with each upper
case letter replaced by a lower case letter and vice-versa.

# Exercise 20

Write a function called <b>is_sorted</b> that is given a list and returns True if the list is sorted
and False otherwise.

# Exercise 21

Write a function called <b>root</b> that is given a positive number $x$ and a positive integer $n$ and returns $x^{1/n}$. In
the function definition, set the default value of $n$ to $2$.

# Exercise 22

Write a function called <b>one_away</b> that takes two strings and returns True if the strings are of
the same length and differ in exactly one letter, like bike/hike or water/wafer. Otherwise, the function should return False.

# Exercise 23

1. Write a function called <b>primes</b> that is given a positive integer $n$ and returns a list of the first $n$ primes. Let the default value of $n$ be $100$.

2. Write the function <b>primes_start</b> by modifying the function above so that there is an optional argument called start that allows the list to start at a value other than 2. The function should return the first n primes that are greater than or equal to start. The default value of start should be 2.

# Exercise 24

Write a function called <b>merge</b> that takes two already sorted lists of possibly different lengths,
and merges them into a single sorted list.
1. Do this using the sort method.
2. Do this without using the sort method.

# Exercise 25

Write a function called <b>Articles</b> that takes some text and then return how many time the articles (<b>'a', 'an', 'the'</b>) appear in the text as tuple. Here the case of the letters does not matter. 

For <b>'The student, called Ange, is a girl from Rwanda'</b>, the function should return <b>(1,0,1)</b>.

# Exercise 26

Write a function called <b>wordn</b> that takes a sentence $s$ and a positive integer $n$ and return the $n^{th}$ word of the sentence if it exists otherwise return 'None'.